# Dependencies
**/node_modules/

# Build output
**/dist/
**/.vite/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment files
.env
.env.*
!.env.example

# TypeScript incremental build data
*.tsbuildinfo

# Editor and OS files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
